In [1]:
import numpy as np
import pandas as pd

In [2]:
print('hello world')

hello world

In [3]:
df = pd.read_csv('dataset/train.csv')
df.head()

,image_link,group_id,entity_name,entity_value
0,https://m.media-amazon.com/images/I/61I9XdN6OF...,748919,item_weight,500.0 gram
1,https://m.media-amazon.com/images/I/71gSRbyXmo...,916768,item_volume,1.0 cup
2,https://m.media-amazon.com/images/I/61BZ4zrjZX...,459516,item_weight,0.709 gram
3,https://m.media-amazon.com/images/I/612mrlqiI4...,459516,item_weight,0.709 gram
4,https://m.media-amazon.com/images/I/617Tl40LOX...,731432,item_weight,1400 milligram

In [6]:
df.columns

Index(['image_link', 'group_id', 'entity_name', 'entity_value'], dtype='object')

In [8]:
df.dtypes

image_link      object
group_id         int64
entity_name     object
entity_value    object
dtype: object

In [9]:
df.shape

(263859, 4)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263859 entries, 0 to 263858
Data columns (total 4 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   image_link    263859 non-null  object
 1   group_id      263859 non-null  int64
 2   entity_name   263859 non-null  object
 3   entity_value  263859 non-null  object
dtypes: int64(1), object(3)
memory usage: 8.1+ MB

In [12]:
df['entity_name'].unique()

array(['item_weight', 'item_volume', 'voltage', 'wattage',
       'maximum_weight_recommendation', 'height', 'depth', 'width'],
      dtype=object)

In [15]:
df['group_id'].value_counts()

group_id
459516    9458
752266    9063
281678    6137
308856    5437
731432    4741
          ...
997333       2
656506       2
314298       2
178031       1
226428       1
Name: count, Length: 750, dtype: int64

In [16]:
new_data_train = df.groupby('entity_name').apply(lambda x: x.sample(n=20, random_state=42)).reset_index(drop=True)

/var/folders/5l/f0_wp_g90h52fxd6wt9668y80000gn/T/ipykernel_33876/4067169204.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  new_data_train = df.groupby('entity_name').apply(lambda x: x.sample(n=20, random_state=42)).reset_index(drop=True)

In [17]:
new_data_train.to_csv('dataset/train_train.csv', index = False)